canvas {
    display: block;
}

body {
    background-color: black;
    background-size: 1500px;
    background-repeat: no-repeat;
}

#p5-canvas-container {
    position: absolute;
    left: 0px;
    top: 0px;
}

#main-container {
    position: absolute;
}

.text {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 0px;
    margin-top: 200px;
    font-size: 80px;
    color: white;
    z-index: 999;
}

#line1 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 350px;
    font-size: 40px;
    color: white;
    z-index: 999;
}

#line1:hover {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 350px;
    font-size: 50px;
    color: rgb(150, 155, 212);
    z-index: 999;
}

#line2 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 400px;
    font-size: 40px;
    color: white;
    z-index: 999;
}

#line2:hover {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 400px;
    font-size: 50px;
    color: rgb(150, 155, 212);
    z-index: 999;
}

#line3 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 450px;
    font-size: 40px;
    color: white;
    z-index: 999;
}

#line3:hover {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 450px;
    font-size: 50px;
    color: rgb(150, 155, 212);
    z-index: 999;
}

#line4 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 500px;
    font-size: 40px;
    color: white;
    z-index: 999;
}

#line4:hover {
    font-family: 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 0px;
    margin-top: 500px;
    font-size: 50px;
    color: rgb(150, 155, 212);
    z-index: 999;
}